/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Navigation */
header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Section à propos */
#about {
    background-color: #fff;
    padding: 100px 20px;
    text-align: center;
}

#aboutproject {
    background-color: #fff;
    padding: 20px 20px;
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 20px; 
}

.photo {
    margin-right: 20px;
}

.profile-photo {
    width: 380px;
    height: 380px;
    border-radius: 50%; 
    object-fit: cover; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.profile-photo-project {
    width: 180px;
    height: 180px;
    border-radius: 50%; 
    object-fit: cover; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Texte à propos */
.about-text {
    max-width: 600px;
    text-align: left; 
}

#about h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

#about p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#about .btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#about .btn:hover {
    background-color: #555;
}

#aboutproject .btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#aboutproject .btn:hover {
    background-color: #555;
}

/* Section compétences */
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

#skills {
    background-color: #eaeaea;
    padding: 50px 20px;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.skills div {
    width: 45%;
}

.skills h3 {
    font-size: 1.5em;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills ul li {
    margin-bottom: 10px;
}

/* Liste des projets */
.project-list {
    display: flex; /* Utilise le modèle Flexbox */
    flex-wrap: wrap; /* Permet de passer à la ligne */
    justify-content: space-between; /* Espace entre les éléments */
}

/* Style de chaque projet */
.project {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    width: calc(33.333% - 8px); /* Ajuster la largeur pour tenir compte des marges */
    margin: 4px; /* Marge réduite pour un espacement total de 8px */
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

/* Autres styles de projet */
.project-image {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
}

.project h3 {
    font-size: 1.5em; 
    color: #444;
    margin: 10px 0;
}

.project p {
    font-size: 1em; 
    color: #666; 
    line-height: 1.5; 
}

.project .btn {
    background-color: #333;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block; /* Assurez-vous que le bouton est un bloc */
    border-radius: 5px;
    margin-top: 10px;
}

.project .btn:hover {
    background-color: #555;
}

/* Section contact */
#contact {
    padding: 50px 20px;
    text-align: center;
}

#contact p {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}


#project-details {
    padding: 20px;
}

#project-details h2 {
    text-align: center;
    margin-bottom: 20px;
}

.project-description {
    text-align: justify;
    margin-bottom: 20px;
}

.project-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 10px;
}

.project-images img {
    margin-bottom: 10px;
    width: 400px;
    margin-right: 10px;
    border-radius: 8px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .skills {
        flex-direction: column;
    }

    .skills div {
        width: 100%;
        margin-bottom: 20px;
    }

    .project-list {
        flex-direction: column; /* Colonne sur petits écrans */
        align-items: center; /* Centre les projets */
    }

    .project {
        width: 90%; /* Utilise presque toute la largeur sur petits écrans */
        margin: 10px 0; /* Espacement vertical entre les projets */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .project {
        width: 45%; /* Deux projets par ligne sur écrans moyens */
    }
}

@media (min-width: 1025px) {
    .project {
        width: 30%; /* Trois projets par ligne sur grands écrans */
    }
}
